:root {
    --posizione-wrapper-arrow-dir: 30px;
    --misura-wrapper-arrow-dir: 80px;
    --misura-arrow-dir: 40px;
}

.general-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#fumetto {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    width: calc(100% - 40px);
    /* height: 30%; */
    padding: 20px;
    border: 5px solid black;
    border-radius: 50px;
    padding: 20px;
    transition: 200ms;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

#fumetto.active {
    opacity: 1;
    pointer-events: all;
}

.fumetto__btns-box {
    position: absolute;
    right: 0;
    bottom: calc(100% + 20px);
    background-color: white;
    padding: 20px;
    padding-right: 60px;
    border: 5px solid black;
    border-radius: 5px;
}

.fumetto__btn {
    display: flex;
    cursor: pointer;
}

.fumetto__btn:hover .fumetto__arrow {
    opacity: 1;
    cursor: pointer;
}

.fumetto__arrow {
    height: 26px;
    margin-right: 10px;
    opacity: 0;
}

/* TEST */
img{
    user-select: none;
    pointer-events: none;
}
.mob-dir {display:none;}
@media (max-width:991px) {
    .mob-dir {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--misura-wrapper-arrow-dir);
        height: var(--misura-wrapper-arrow-dir);
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        z-index: 1;
    }
    .mob-dir--up {
        bottom: calc(var(--posizione-wrapper-arrow-dir) * 2 + var(--misura-wrapper-arrow-dir));
        right: var(--posizione-wrapper-arrow-dir);
    }
    .mob-dir--right {
        bottom: var(--posizione-wrapper-arrow-dir);
        right: var(--posizione-wrapper-arrow-dir);
    }
    .mob-dir--down {
        bottom: calc(var(--posizione-wrapper-arrow-dir) * 2 + var(--misura-wrapper-arrow-dir));
        left: var(--posizione-wrapper-arrow-dir);
    }
    .mob-dir--left {
        bottom: var(--posizione-wrapper-arrow-dir);
        left: var(--posizione-wrapper-arrow-dir);
    }

    .mob-dir__arrow {
        width: var(--misura-arrow-dir);
        height: var(--misura-arrow-dir);
    }

    .mob-dir--up .mob-dir__arrow { transform: rotate(270deg);}
    .mob-dir--down .mob-dir__arrow { transform: rotate(90deg);}
    .mob-dir--left .mob-dir__arrow { transform: rotate(180deg);}
}