:root {
    --posizione-wrapper-arrow-dir: 30px;
    --misura-wrapper-arrow-dir: 60px;
    --misura-arrow-dir: 40px;
}

body {user-select: none;}
img {pointer-events: none;}

.general-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.fumetto {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    width: calc(100% - 40px);
    /* height: 30%; */
    padding: 20px;
    border: 5px solid black;
    border-radius: 50px;
    padding: 20px;
    transition: 200ms;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.fumetto.active {
    opacity: 1;
    pointer-events: all;
}

.fumetto__btns-box {
    position: absolute;
    left: 0;
    bottom: calc(100% + 20px);
    background-color: white;
    padding: 20px;
    padding-right: 60px;
    border: 5px solid black;
    border-radius: 5px;
}

.fumetto__btns-box * {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.fumetto__btn {
    display: flex;
    cursor: pointer;
}

.fumetto__btn:hover .fumetto__arrow {
    opacity: 1;
    cursor: pointer;
}

.fumetto__arrow {
    height: 26px;
    margin-right: 10px;
    opacity: 0;
}

/* frecce di movimento */
.wrapper-mob-dir {display:none;}
@media (max-width:991px) {
    .wrapper-mob-dir {
        display: block;
        position: absolute;
        right: var(--posizione-wrapper-arrow-dir);
        bottom: var(--posizione-wrapper-arrow-dir);
        width: calc(var(--misura-wrapper-arrow-dir) * 3);
        height: calc(var(--misura-wrapper-arrow-dir) * 3);
    }
    .mob-dir {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--misura-wrapper-arrow-dir);
        height: var(--misura-wrapper-arrow-dir);
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        z-index: 1;
    }
    .mob-dir--up {
        top: 0;
        left: 50%;
        transform: translate3d(-50%,0,0);
    }
    .mob-dir--down {
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%,0,0);
    }
    .mob-dir--right {
        top: 50%;
        right: 0;
        transform: translate3d(0,-50%,0);
    }
    .mob-dir--left {
        top: 50%;
        left: 0;
        transform: translate3d(0,-50%,0);
    }

    .mob-dir__arrow {
        width: var(--misura-arrow-dir);
        height: var(--misura-arrow-dir);
    }

    .mob-dir--up .mob-dir__arrow { transform: rotate(270deg);}
    .mob-dir--down .mob-dir__arrow { transform: rotate(90deg);}
    .mob-dir--left .mob-dir__arrow { transform: rotate(180deg);}
}